/* set body style */
body {
  background-color: #4c4c4c;
  color: #e766ec;
  font-family: sans-serif;
  text-align: center;
}

/* set header style */
header {
  text-align: center;
}

/* set address style */
address {
  font-weight: bolder;
}

header > p {
  align-self: center;
  color: white;
}

/* Create section boxes */
section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-style: dashed;
  border-color: white;
  margin: 10px;
  max-width: 30%;
}

/* Add media query */
@media screen and (max-width: 992px) {
  section {
    background: #772014;
  }
}

/*Add flexbox row*/
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Add flexbox Column */
.column {
  display: flex;
  flex-direction: column;
}

/* add background colors and text colors */
.grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(12, 1fr);
}

/* Linear Gradients card code
background-image: linear-gradient(
    rgba(232, 102, 236, 0.3) 0%,
    rgba(232, 102, 236, 0.6) 100%
  );*/

/* set code-card style */

.code-card {
  color: white;
  background-image: linear-gradient(
    rgba(232, 102, 236, 0.3) 0%,
    rgba(232, 102, 236, 0.6) 100%
  );
  padding: 10px;
}

/* add box transition glow */
.code-card .card-header {
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

.code-card:hover,
.code-card:hover .card-header {
  box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1),
    0 0 15px rgba(232, 102, 236, 1);
}

/* overlay card with title */
.card-header {
  position: relative;
  margin-top: -20px;
  /* Added code */
  border-radius: 10px;
  border-color: white;
  border-style: solid;
}
